.select span{
        border: 1px black solid ;
        display: inline-block;
        min-height: 20px;
        min-width: 50px;
}

.select .items {

        position: absolute;
        border: 1px  black solid;
        padding: 5px;
}

